<section class="text-gray-400 bg-gray-900 body-font items-center overflow-auto md:overscroll-auto sm:overscroll-auto">
  <div class="container mx-auto flex flex-col px-5 py-18 justify-center items-center h-screen">
    <img class="lg:w-2/6 md:w-3/6 w-4/6 mb-6 object-cover object-center rounded" alt="logo"
      src="../assets/images/Blocknode_v1.png" />

    <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center ">
      <h1 class=" font-montserrat font-medium sm:text-4xl text-2xl mb-4  text-green-500 ">
        Bringing Blockchain to India's $60 Billion Energy Sector
      </h1>
      <p class="font-extralight">
        Automate Advanced Metering Infrastructure with Blockchain and Smart
        Contracts. Strengthen Security for Efficent Energy Distribution with
        Real-time Micro-Payments. Eliminate Overheads, Reduce Uncertainty and
        make instant decisions to improve Operational Efficiencies.
      </p>
    </div>
  </div>
</section>
<router-outlet></router-outlet>